In [1]:
name = 'Lizz'

In [2]:
print(name[0:2])

Li

In [3]:
var = '01234567'

In [4]:
print(var[::2])

0246

In [5]:
'1'+'2'

'12'

In [6]:
myvar = 'hello'

In [7]:
myvar

'hello'

In [8]:
A='1234567'

In [9]:
A[1::2]

'246'

In [10]:
Name="Michael Jackson"

In [11]:
Name.find('el')

5

In [12]:
 '1,2,3,4'.split(',')

['1', '2', '3', '4']

In [14]:
for n in range(3):

    print(n)

0
1
2

In [15]:
for n in range(3):

    print(n+1)

1
2
3

In [16]:
A=['1','2','3']

for a in A:

    print(2*a)

11
22
33

In [17]:
def Add(x,y):

    z=y+x

    return(y)

In [18]:
Add('1','1')

'1'